<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section id="about" class="about">
            <h2>About Us</h2>
            <p>At ElectroMart, we bring you the best in modern electronics. Our mission is to provide high-quality products at affordable prices, ensuring our customers stay ahead in the tech game.</p>
        </section>

        <section id="contact" class="contact">
            <h2>Contact Us</h2>
            <form action="#" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="4" required></textarea>
                <button type="submit">Send Message</button>
            </form>
        </section>

    <footer>
        <div class="footerhelper" style="display:flex;width:20%;justify-content:space-around;margin-left:40%">
            <h1>ElectroMart</h1>
            <a href="https://www.tbceducation.ge">
                <img src="../static/tbc_logo.png" alt="" style="width:52px !important;height:52px">
            </a>
        </div>
    </footer>