{% extends "base.html" %}

{% block content %}
<main>
    <section class="hero">
        <div class="hero-text">
            <h2>Your One-Stop Electronics Shop</h2>
            <p>Discover the latest gadgets and unbeatable prices.</p>
            <a href="#products" class="btn">Shop Now</a>
        </div>
    </section>

    <section id="products" class="products">
        <h2>Featured Products</h2>
        <div class="product-list">
            {% for product in products %}
            <div class="product">
                <img src="{{ product.img }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                <p>${{ "%.2f" | format(product.price) }}</p>

                <p id="like_count_{{ product.id }}">Likes: {{ product.likes }}</p>

                <div class="button-group">
                    {{ form.hidden_tag() }}
<!--                    <form method="post" action="#">-->
<!--                        <button type="submit" class="add-to-cart">Add to Cart</button>-->
<!--                    </form>-->

                            {% if current_user.role == 'admin' %}
                                <form method="get" action="{{ url_for('edit', product_id=product.id) }}">
                                    <button type="submit" class="edit-product">Edit Product</button>
                                </form>

                                <form method="post" action="{{ url_for('delete', product_id=product.id) }}">
                                    {{ form.hidden_tag() }}
                                    <button type="submit" class="delete-item">Delete</button>
                                </form>
                            {% endif %}

                    <button id="like_button_{{ product.id }}" onclick="likeProduct({{ product.id }})" class="like-product">Like</button>
                </div>
            </div>
            {% endfor %}
        </div>
<!--        <div class="total-price">-->
<!--            Total Price: $0.00-->
<!--        </div>-->
    </section>
</main>

<script>
    function likeProduct(productId) {
        // Disable the button to prevent multiple clicks
        const likeButton = document.getElementById(`like_button_${productId}`);
        likeButton.disabled = true;

        // Send AJAX request to update the like count
        fetch(`/like/${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token() }}'
            },
        })
        .then(response => response.json())
        .then(data => {
        console.log(data);
            if (data.success) {
                document.getElementById(`like_count_${productId}`).textContent = `Likes: ${data.new_like_count}`;
                document.getElementById(`like_count_${productId}`).textContent = `Likes: ${data.new_like_count}`;
            }
        })
        .finally(() => {
            // Re-enable the button after the request is complete
            likeButton.disabled = false;
        });
    }
</script>

{% endblock %}
